In [48]:
# import libraries
import pandas as pd
import numpy as np
import os

In [50]:
# import dataframes
path = r'...'
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Price_range with loc

In [51]:
# define and add 'High-range product' to 'price_range' column
orders_products_merged.loc[orders_products_merged['prices'] > 15, 'price_range'] = 'High-range product'

In [52]:
# define and add 'Mid-range product' to 'price_range' column
orders_products_merged.loc[(orders_products_merged['prices'] <= 15) & (orders_products_merged['prices'] > 5), 'price_range'] = 'Mid-range product'

In [53]:
# define and add 'Low-range product' to 'price_range' column
orders_products_merged.loc[orders_products_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [54]:
# check 'price_range_loc'
orders_products_merged['price_range'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

In [55]:
orders_products_merged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product

# Busiest Day - for-loop

In [56]:
# frequency of 'order_day_of_week'
orders_products_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [57]:
# for-loop - save results in result[] list
result = []

for value in orders_products_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [58]:
# assign result[] to 'busiest_day' column
orders_products_merged['busiest_day'] = result

In [59]:
# frequency of 'busiest_day'
orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [60]:
orders_products_merged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

# Two busiest/slowest days

In [61]:
# for-loop - save results in result2[] list
result2 = []

for value in orders_products_merged["order_day_of_week"]:
  if value in [0, 1]:
    result2.append("Busiest days")
  elif value in [3, 4]:
    result2.append("Slowest days")
  else:
    result2.append("Regularly busy")

In [62]:
# assign result2[] to 'busiest_days' column
orders_products_merged['busiest_days'] = result2

In [63]:
# frequency of 'busiest_days'
orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

# Busiest Period of the day

In [64]:
# frequency of 'order_hour_of_day'
orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [65]:
# for-loop - save results in busiestHours[] list
busiestHours = []

for value in orders_products_merged["order_hour_of_day"]:
  if value in range(9, 17):
    busiestHours.append("Most orders")
  elif value in [range(18, 23), 8, 7]:
    busiestHours.append("Average orders")
  else:
    busiestHours.append("Fewest orders")

In [66]:
# assign busiestHours[] to 'busiest_period_of_day' column
orders_products_merged['busiest_period_of_day'] = busiestHours

In [67]:
# frequency of 'busiest_period_of_day'
orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Fewest orders      8677616
Average orders     2609172
Name: busiest_period_of_day, dtype: int64

# Export

In [68]:
# export to pkl
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_flagged.pkl'))