In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# import dataframes
path = r'...'
orders_products_flagged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_flagged.pkl'))

# Data Checks

In [3]:
orders_products_flagged.shape

(32404859, 19)

In [4]:
orders_products_flagged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

# Mean of 'order_number' grouped by 'department_id'

In [5]:
# find mean of 'order_number' grouped by 'department_id'
orders_products_flagged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

###### It's basically the same - just with more data (the whole dataset and not just subset)

# loyalty_flag

In [6]:
# create 'max_order' variable
orders_products_flagged['max_order'] = orders_products_flagged.groupby(['customer_id'])['order_number'].transform(np.max)

In [7]:
# loyalty flag
orders_products_flagged.loc[orders_products_flagged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
orders_products_flagged.loc[(orders_products_flagged['max_order'] <= 40) & (orders_products_flagged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
orders_products_flagged.loc[orders_products_flagged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [8]:
# check
orders_products_flagged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

In [9]:
# frequency of 'loyalty_flag'
orders_products_flagged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [10]:
# check
orders_products_flagged.shape

(32404859, 21)

In [11]:
orders_products_flagged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

# loyalty_flag

In [12]:
# get min, max, mean of 'prices' gouped by 'loyalty_flag'
orders_products_flagged.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# spending_flag

In [13]:
# create 'mean_order' variable
orders_products_flagged['mean_order'] = orders_products_flagged.groupby(['customer_id'])['order_number'].transform(np.mean)

In [14]:
# create flag 'spending_flag'
orders_products_flagged.loc[orders_products_flagged['mean_order']<10, 'spending_flag'] = 'Low spender'
orders_products_flagged.loc[orders_products_flagged['mean_order']>=10, 'spending_flag'] = 'High spender'

In [15]:
# check
orders_products_flagged.head()

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,5.813559,Low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,5.813559,Low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,5.813559,Low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,5.813559,Low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,5.813559,Low spender

In [16]:
# frequency of 'spending_flag'
orders_products_flagged['spending_flag'].value_counts(dropna=False)

High spender    20332281
Low spender     12072578
Name: spending_flag, dtype: int64

# order_frequency_flag

In [17]:
# create median 'days_since_prior_order_median'
orders_products_flagged['days_since_prior_order_median'] = orders_products_flagged.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)

In [18]:
# create flag 'order_frequency_flag'
orders_products_flagged.loc[orders_products_flagged['days_since_prior_order_median']>20, 'order_frequency_flag'] = 'Non-frequent customer'
orders_products_flagged.loc[orders_products_flagged['days_since_prior_order_median']<=20, 'order_frequency_flag'] = 'Regular customer'
orders_products_flagged.loc[orders_products_flagged['days_since_prior_order_median']<=10, 'order_frequency_flag'] = 'Frequent customer'

In [19]:
# frequency of 'order_frequency_flag'
orders_products_flagged['order_frequency_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_frequency_flag, dtype: int64

In [20]:
# check those 5 NaNs
orders_products_flagged[orders_products_flagged['order_frequency_flag'].isnull()]

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,days_since_prior_order_median,order_frequency_flag
13645692,895835,159838,1,0,17,NaN,True,10749,3,0,...,Mid-range product,Busiest day,Busiest days,Fewest orders,1,New customer,1.0,Low spender,NaN,NaN
17251990,895835,159838,1,0,17,NaN,True,33401,6,0,...,Mid-range product,Busiest day,Busiest days,Fewest orders,1,New customer,1.0,Low spender,NaN,NaN
17622767,895835,159838,1,0,17,NaN,True,23695,2,0,...,Low-range product,Busiest day,Busiest days,Fewest orders,1,New customer,1.0,Low spender,NaN,NaN
24138593,895835,159838,1,0,17,NaN,True,21334,5,0,...,Mid-range product,Busiest day,Busiest days,Fewest orders,1,New customer,1.0,Low spender,NaN,NaN
25880002,895835,159838,1,0,17,NaN,True,22198,1,0,...,Low-range product,Busiest day,Busiest days,Fewest orders,1,New customer,1.0,Low spender,NaN,NaN

In [21]:
# check
orders_products_flagged.head(50)

,order_id,customer_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,days_since_prior_order_median,order_frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,5.813559,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,11.416667,High spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,11.416667,High spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,11.416667,High spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,11.416667,High spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,11.416667,High spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,False,196,3,0,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,4.745098,Low spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,False,196,15,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,4.745098,Low spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Fewest orders,9,New customer,4.745098,Low spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,False,196,2,0,...,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,17.263415,High spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,False,196,17,0,...,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,11.735786,High spender,6.0,Frequent customer
20,2231262,31,17,3,11,8.0,False,196,14,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,20,Regular customer,11.735786,High spender,6.0,Frequent customer
21,2580647,43,6,4,16,4.0,False,196,9,0,...,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,6.687075,Low spender,10.0,Frequent customer
22,2187180,43,9,4,12,3.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,11,Regular customer,6.687075,Low spender,10.0,Frequent customer
23,2497897,52,1,1,9,NaN,True,196,4,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
24,1318871,52,2,1,10,7.0,False,196,5,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
25,1261384,52,3,1,10,7.0,False,196,3,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
26,580568,52,5,2,10,8.0,False,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
27,2428073,52,7,2,7,8.0,False,196,5,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
28,342306,52,9,1,11,7.0,False,196,5,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
29,1520353,52,10,2,10,8.0,False,196,4,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
30,2542086,52,11,2,9,7.0,False,196,3,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
31,944694,52,12,1,16,6.0,False,196,7,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
32,1268191,52,15,2,11,8.0,False,196,3,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
33,1122089,52,17,2,10,6.0,False,196,4,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
34,1498922,52,18,2,10,14.0,False,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
35,180919,52,19,3,8,8.0,False,196,4,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
36,2695875,52,21,5,10,30.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,14.287425,High spender,8.0,Frequent customer
37,3205960,67,1,3,11,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
38,970922,67,2,1,15,5.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
39,596585,67,3,1,13,7.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
40,2037087,67,4,2,9,8.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
41,2474111,67,5,3,14,8.0,False,196,2,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
42,1568481,67,6,3,12,7.0,False,196,2,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
43,2048527,67,8,2,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
44,2389031,67,9,2,14,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
45,2378562,67,10,1,10,6.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
46,1515698,67,11,1,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
47,1928050,67,12,2,12,8.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
48,1949274,67,13,1,10,6.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer
49,551869,67,14,1,9,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,12.419753,High spender,7.0,Frequent customer

In [ ]:
# deleting those 5 NaNs as they're useless and that's okay because it won't affect the whole dataset
orders_products_flagged = orders_products_flagged[orders_products_flagged['order_frequency_flag'].notnull()]

In [ ]:
orders_products_flagged.shape

In [ ]:
# export to pkl
orders_products_flagged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_flagged_4.8.pkl'))